build/
.DS_Store
Debug/
Release/
x64/
.vs/
*.VC.db
*.user
ext/
*.xcuserstate
*/xcuserdata/*
binaries/
data/
/external/glfw_build/
/external/string_theory_build/
/external/libjpeg-turbo_build/
/external/install/
/external/libhsplasma_build/
/external/*_build/